body {
  background-color: #000000;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  scroll-behavior: smooth;
  color: white;
  transition: 0.15ms;
  -ms-overflow-style:none;
  font-family: Arial, Helvetica, sans-serif;
}
body ::-webkit-scrollbar{
  display: none;
}

sup {
  font-size: small;
  color: aqua;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54%;
}

p, p>a {
  font-size: larger;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-family: serif;
  font-size: 18px;
}

.topbar {
  background-color: rgba(39, 45, 45, 0.4);
  margin: 0px;
  padding: 2%;
}

h2 {
  color: whitesmoke;
  display: inline;
  padding-left: 5%;
  transition: 0.15ms;
}

.myBtn {
  background-color: rgb(118, 217, 18);
}

.loadMore {
  margin-top: 25%;
  padding: 2%;
  width: 25%;
  height: 10%;
  border: none;
  border-radius: 20px;
  font-size: large;
  background-color: rgb(118, 217, 18);
  transition: 0.15ms;
}

.loadMore:hover {
  cursor: pointer;
  border-style: solid;
  background-color: black;
  color: rgb(118, 217, 18);
  border-color: rgb(118, 217, 18);
}

h2:hover,
h1:hover,
p:hover {
  color: rgb(118, 217, 18);
}

.search {
  display: inline;
  margin-right: 25%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 10%;
  padding-right: 20%;
  border: none;
  border-radius: 7px;
  word-break: keep-all;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-size: x-large;
}

#id {
  display: inline;
  margin: auto;
  text-decoration: none;
  color: rgb(118, 217, 18);
  float: right;
}

.left {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 10px;
  position: absolute;
  right: 370px;
  top: 20px;
}

.buttondiv {
  display: inline-block;
  margin: none;
  margin-top: 1%;
  padding: 5%;
  border-radius: 20px;
  width: 45%;
  height: 40%;
}

.buttondiv img {
  max-width: 100%;
  max-height: 100%;
}

.value {
  width: 55%;
  text-align: center;
}

#user {
  display: inline;
  float: right;
  width: 4%;
}

.about-us {
  font-family: inherit;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(39, 45, 45, 0.4);
  color: #666;
}

.footer-section {
  flex: 1 0 20%;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a,
.footer-section a {
  text-decoration: none;
  color: #666;
}

.footer-section a:hover {
  color: aliceblue;
}

.footer-section ul li a:hover,
.footer-section h3:hover,
.footer-section p:hover {
  color: #333;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li a {
  color: #666;
}

.social-media li a:hover {
  color: #333;
}

/* Media Queries */

@media screen and (max-width: 850px) {
  /* Styles for screens up to 768px */
  body{
    margin:auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    color: white;
    transition: 0.15ms;
  }
  main{
    flex: 1;
  }
  .left {
    right: 10px;
  }
  
  .search {
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 10%;
  }
  
  .buttondiv {
    width: 100%;
    height: auto;
  }
  
  .value {
    width: 100%;
  }
  .loadMore {
    margin-top: 20%;
    margin-bottom: 12%;
    padding: 6%;
    width: 45%;
    height: 10%;
    border: none;
    border-radius: 20px;
    font-size: large;
    background-color: rgb(118, 217, 18);
    transition: 0.15ms;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for screens up to 480px */
  body{
    margin:auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    color: white;
    transition: 0.15ms;
  }
  h1{
    font-size: large;
  }
  p{
    font-size: medium;
  }
  .left {
    display: none;
  }
  #mainContent{
    flex: 1;
    padding: 2%;
    width: 100%;
    height: 190px;
  }
  
  .search {
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 5%;
  }

  footer{
    margin-top: auto;
  }

.loadMore {
  margin-top: 20%;
  margin-bottom: 12%;
  padding: 6%;
  width: 45%;
  height: 10%;
  border: none;
  border-radius: 20px;
  font-size: small;
  background-color: rgb(118, 217, 18);
  transition: 0.15ms;
}
}