body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

sup {
  font-size: small;
  color: aqua;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 54vh; /* Use vh unit for relative height */
}

/* Common styles for text elements */
p,
a,
h1,
h2 {
  font-size: larger;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: aliceblue;
}

h2,
h1:hover,
p:hover {
  color: rgb(118, 217, 18);
}

.topbar {
  background-color: rgba(39, 45, 45, 0.4);
  padding: 2%;
}

.loadMore {
  margin-top: 5%; /* Adjust based on preference */
  padding: 2%;
  width: 25%;
  border: none;
  border-radius: 20px;
  font-size: large;
  background-color: rgb(118, 217, 18);
  transition: background-color 0.3s, color 0.3s; /* Transition for smoother hover effect */
}

.loadMore:hover {
  cursor: pointer;
  background-color: black;
  color: rgb(118, 217, 18);
}

.search {
  margin-right: 5%; /* Adjust based on preference */
  padding: 2%;
  border: none;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-size: x-large;
}

.left {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  position: absolute;
  right: 2%; /* Adjust based on preference */
  top: 20px;
}

.buttondiv {
  margin-top: 1%;
  padding: 5%;
  border-radius: 20px;
  width: 45%;
  height: auto; /* Adjust based on content */
}

.buttondiv img {
  max-width: 100%;
  max-height: 100%;
}

.value {
  width: 55%;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(39, 45, 45, 0.4);
  color: #666;
}

.footer-section {
  flex: 1 0 20%;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a,
.footer-section a {
  text-decoration: none;
  color: #666;
}

.footer-section a:hover {
  color: aliceblue;
}

@media screen and (max-width: 850px) {
  /* Styles for screens up to 850px */
  body {
    margin: auto;
    min-height: 100vh;
  }

  .left {
    right: 2%;
  }

  .search {
    margin-right: 5%;
    padding: 2%;
  }

  .buttondiv {
    width: 100%;
  }

  .value {
    width: 100%;
  }

  .loadMore {
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 6%;
    width: 45%;
    height: auto;
    font-size: large;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for screens up to 480px */
  body {
    margin: auto;
    min-height: 100vh;
  }

  h1 {
    font-size: large;
  }

  p {
    font-size: medium;
  }

  .left {
    display: none;
  }

  .search {
    margin-right: 5%;
    padding: 2%;
  }

  .loadMore {
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 6%;
    width: 45%;
    font-size: small;
  }
}
